In [ ]:

import pandas as pd
df1 = pd.read_csv("data1.tsv", sep="\t",header=None)
df2 = pd.read_csv("data2.tsv", sep="\t",header=None)
df3 = pd.read_csv("data5.tsv", sep="\t",header=None)

In [9]:
df1.shape

(257417, 6)

In [25]:
df2.shape

(266803, 6)

In [26]:
df3.shape

(227210, 6)

In [11]:
df1.head()

,0,1,2,3,4,5
0,2025-01-20 01:22:23,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/yamaha-vmax-1200/m...,0.0
1,2025-01-20 01:22:25,"228,203,20113,212,100,110,111,112,127,130,131,...",2997188;5034370069;;;20113=1.00|212=1.00;107=5...,100.0,https://www.cycletrader.com/yamaha-vmax-1200/m...,0.0
2,2025-01-20 01:24:24,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/yamaha-v-max/motor...,0.0
3,2025-01-20 01:24:25,"228,203,20113,212,100,110,111,112,127,130,131,...",2889104;5033772862;;;20113=1.00|212=1.00;107=5...,100.0,https://www.cycletrader.com/yamaha-v-max/motor...,0.0
4,2025-01-20 01:24:59,"20113,100,106,107,108,114,117,118,119,139,140,...",2889104;5034302300;;;20113=1.00;107=5034302300...,0.0,https://www.cycletrader.com/listing/2007-yamah...,0.0

In [12]:
df2.head()

,0,1,2,3,4,5
0,2025-01-20 04:59:16,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/used/motorcycles-f...,0.0
1,2025-01-20 04:59:19,"229,20113,220,217,100,110,111,112,127,130,131,...",5000014498;5034088003;;;20113=1.00|220=1.00;10...,100.0,https://www.cycletrader.com/used/motorcycles-f...,0.0
2,2025-01-20 04:59:19,"228,203,20113,212,100,110,111,112,127,130,131,...",;5034746383;;;20113=1.00|212=1.00;107=50347463...,100.0,https://www.cycletrader.com/used/motorcycles-f...,0.0
3,2025-01-20 04:33:48,"229,203,20113,212,100,110,111,112,127,130,131,...",5000000264;5033285546;;;20113=1.00|212=1.00;10...,100.0,https://www.rvtrader.com/airstream/rvs-for-sal...,0.0
4,2025-01-20 04:33:48,"100,137,139,147,150,151,154,155,157,158,159,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.rvtrader.com/airstream/rvs-for-sal...,0.0

In [13]:
df3.head()

,0,1,2,3,4,5
0,2025-01-20 10:00:22,"100,137,139,147,150,151,154,155,157,158,159,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.rvtrader.com/salem-used-truck-camp...,0.0
1,2025-01-20 10:00:25,"228,203,20113,212,100,110,111,112,127,130,131,...",5000012632;5034841305;;;20113=1.00|212=1.00;10...,100.0,https://www.rvtrader.com/salem-used-truck-camp...,0.0
2,2025-01-20 10:00:28,"229,20113,220,217,100,110,111,112,127,130,131,...",;5034879770;;;20113=1.00|220=1.00;107=50348797...,100.0,https://www.rvtrader.com/salem-used-truck-camp...,0.0
3,2025-01-20 10:27:54,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.pwctrader.com/2015-yamaha-waverunn...,0.0
4,2025-01-20 10:27:55,"228,203,20113,212,100,110,111,112,127,128,130,...",3017346;5033909881;;;20113=1.00|212=1.00;107=5...,100.0,https://www.pwctrader.com/2015-yamaha-waverunn...,0.0

In [17]:
df4 = pd.read_csv("data3.tsv", sep="\t",header=None,on_bad_lines="skip")

In [18]:
df4.head()

,0,1,2,3,4,5
0,2025-01-20 06:07:48,"228,203,20113,212,100,110,111,112,127,130,131,...",;5033990804;;;20113=1.00|212=1.00;107=50339908...,100.0,https://www.cycletrader.com/used-slingshot/mot...,0.0
1,2025-01-20 06:07:49,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/used-slingshot/mot...,0.0
2,2025-01-20 06:08:03,"20413,106,107,108,113,115,116,117,118,119,120,...",782392;5032333077;;;20413=1.00;107=5032333077|...,100.0,https://www.cycletrader.com/used-slingshot/mot...,0.0
3,2025-01-20 06:08:03,"100,150,153,154,174,178,531,532,533,534",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,100.0,https://www.cycletrader.com/used-slingshot/mot...,0.0
4,2025-01-20 06:08:12,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/used-slingshot/mot...,0.0

In [28]:
df4.shape

(242389, 6)

In [19]:
df5 = pd.read_csv("data4.tsv", sep="\t",header=None,on_bad_lines="skip")

In [31]:
df5.head()

,0,1,2,3,4,5
0,2025-01-20 08:36:19,"100,139,150,151,154,155,157,158,159,160,161,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.rvtrader.com/cruiser-corp-essence-...,0.0
1,2025-01-20 08:31:37,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/2021-white-harley-...,0.0
2,2025-01-20 08:31:37,"228,203,20113,212,100,110,111,112,127,128,130,...",782534;5031449513;;;20113=1.00|212=1.00;107=50...,100.0,https://www.cycletrader.com/2021-white-harley-...,0.0
3,2025-01-20 08:32:07,"20104,100,106,107,108,114,117,118,119,139,140,...",2989646;5033507644;;;20104=1.00;107=5033507644...,0.0,https://www.cycletrader.com/listing/2021-harle...,0.0
4,2025-01-20 08:54:02,"100,137,139,150,151,154,155,157,158,159,160,16...",;;;;;107=::hash::0|108=::hash::0|109=::hash::0...,0.0,https://www.cycletrader.com/harley-davidson-tr...,0.0

In [30]:
df5.shape

(263780, 6)

In [22]:
combined_df= pd.concat([df1,df2,df3,df4,df5], axis=0)

In [23]:
combined_df.shape

(1257599, 6)